.howtouse {
	background-color: $light-white;
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
	}

	&__img {
		width: 100%;
		margin-bottom: 1em;
		border-radius: 15px;
	}

	&__title {
		margin-bottom: 0 0.5em;
		font-weight: 500;
		color: $secondary-color;
		text-transform: uppercase;
	}

	&__text {
		font-size: 1.4rem;
		color: $dark;
	}
}

// The classes .section-heading and .section-padding are located in the file components/sections.

// The second section in <main> is the hero-img section.
.hero-img {
	position: relative;
	padding: 10em 2em;
	@include heroImages('../img/groupofpeople-image-small.jpeg');
	height: 110vh;
	text-align: center;
	color: $light-dark;

	&__title {
		margin-bottom: 0.5em;
		font-size: 4rem;
	}

	&__text {
		padding: 1em 0;
	}
}

// The third section in <main> is the signlanguage section.
.signlanguage {
	background-color: $light-white;
	&__card {
		position: relative;
		margin: 1em 0;
		height: 450px;
		color: $light-white;
		text-align: center;
		max-width: 50vh;
		min-width: 40vh;
		perspective: 1000px;

		&:hover {
			.signlanguage__card-img {
				transform: rotateY(-180deg);
				opacity: 0;
			}

			.signlanguage__card-info {
				transform: rotateY(0);
				opacity: 1;
			}
		}

		// Front part of the card.
		&-img {
			padding: 2em;
			height: 100%;
			border-radius: 8px;
			background-size: cover;
			transition: transform 1s, opacity 1s;
			background-color: $secondary-color;

			&-title {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 20rem;
				font-weight: 100;
			}

			// "Learn Sign Language"
			&-info {
				position: absolute;
				bottom: 30px;
				right: 30px;
				font-size: 1.8rem;

				i {
					margin-right: 0.3em;
				}
			}
		}

		// bottom parts of the cards (those with the images)
		&-info {
			position: absolute;
			background-size: cover;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			border-radius: 8px;
			opacity: 0;
			transform: rotateY(180deg);
			transition: transform 1s, opacity 1s;

			&--first {
				background-image: $light-transparent-color,
					url(/static/img/a-americansign.jpeg);
			}

			&--second {
				background-image: $light-transparent-color,
					url(/static/img/b-americansign.jpeg);
			}

			&--third {
				background-image: $light-transparent-color,
					url(/static/img/c-americansign.jpeg);
			}

			&--fourth {
				background-image: $light-transparent-color,
					url(/static/img/d-americansign.jpeg);
			}

			&--fifth {
				background-image: $light-transparent-color,
					url(/static/img/e-americansign.jpeg);
			}

			&--sixth {
				background-image: $light-transparent-color,
					url(/static/img/f-americansign.jpeg);
			}
		}
	}
}

// translate section
.translate {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-size: cover;
	color: $dark;
	background-image: $light-transparent-color,
		url(../img/hero-image-translate-small.jpeg);

	&__btn {
		display: inline-block;
		margin-bottom: 1em;
		padding: 0.8em 1.6em;
		font-size: 1.4rem;
		font-family: 'Montserrat', sans-serif;
		background: $main-color;
		border: none;
		border-radius: 8px;
		color: $dark;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		// button changes color on hover
		&::before {
			background-color: $secondary-color;
		}

		&-secondary {
			display: block;
			margin: 0 auto;
		}
	}

	// box where translation signs will be displayed
	&__textarea {
		margin-bottom: 1em;
		padding: 2rem;
		text-align: center;
		border-radius: 15px;
		width: 40em;
		background-color: $light-white;
		opacity: 0.8;
	}

	&__prediction {
		margin-bottom: 1em;
	}

	// styling the video box

	video {
		margin: 0 auto;
		margin-bottom: 2em;
		border-radius: 15px;
	}

	.placeholder {
		margin: 0 auto;
		margin-bottom: 2em;
		padding: 2.5em;
		height: 15em;
		width: 20em;
		background-color: $light-white;
		text-align: center;
		border-radius: 15px;
	}

	&__svg {
		color: $light-dark;
	}

	// icon item (You have reached your daily limit of recognized characters)
	.swal2-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		width: 132px;
		height: 132px;
		border-color: $light-white !important;

		.swal2-icon-content {
			font-size: 80px;
			color: $light-white;
		}
	}

	// Upgrade Plan button
	.swal2-cancel,
	.swal2-styled {
		margin-top: 1em;
		margin-bottom: 4em;
		padding: 0.8em 1.6em;
		color: $dark;
		background-color: $light-white;
		border: none;
		border-radius: 8px;
		font-size: 1.4rem;
		font-weight: 400;
		font-family: Montserrat, sans-serif;
		text-transform: uppercase;
	
	}
}

