.container {
	.reset-password-page {
		.card-body {
			color: $dark;

			.reset-password-page-title {
				font-size: 2em;
				margin-top: 2rem;
				margin-bottom: 4rem;
				font-weight: 400;
			}
			#resetPasswordForm {
				.form-group-input {
					margin-bottom: 2rem;
					text-transform: uppercase;
				}

				.reset-password-page-button {
					margin-top: 4rem;
					margin-bottom: 3rem;
				}

				.reset-password-page-button::before {
					background-color: $secondary-color;
				}
			}
		}
	}
}