.modal-content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $light-dark;
	background-color: $grey;
	padding: 2em;

	.close {
		position: absolute;
		top: 2vh;
		left: 10vh;
		font-size: 4rem;
		color: $light-dark;
		cursor: pointer;
	}

	h2 {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 4rem;
		font-weight: 400;
		font-size: 2em;
		
        
	}

	input {
		margin-top: 1em;
		margin-right: 2rem;
		padding: 0.8em 1.6em;
		font-size: 1.4rem;
		background: #f2f2f1;
		border: none;
		border-radius: 8px;
		color: $light-dark;
	}

	button {
		margin-top: 1em;
		padding: 0.8em 1.6em;
		font-size: 1.4rem;
		background-color: $main-color;
		border: none;
		border-radius: 8px;
		color: $light-dark;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

	}

	button::before {
		background-color: $secondary-color;
		
	}
}
