{% extends "base.html" %}
{% block content %}

  <!-- header -->
  <header class="header section" id="home">
    <div class="container header__white-block">
      <h1 class="header__heading">Sign Language Detector</h1>
      <p class="header__text">
        an online translator for the American Sign Language alphabet
      </p>
			<a href="#turnyourcameraon" class="header__btn btn-special-animation"
				>Start translation</a
			>
			
    </div>

    <a href="#howitworks" class="header__describe">
      Find out how to use Sign Language Detector!</a>

    <a href="#howitworks"><i class="fa-solid fa-chevron-down bounce-top"></i></a>
  </header>


  <main class="main">
    <!-- section "How to use Sign Language Detector" -->
		<section
			class="howtouse section-padding section white-section"
			id="howitworks"
		>
      <div class="wrapper">
        <h2 class="section-heading">How to use Sign Language Detector</h2>

        <div class="howtouse__box">
          <div class="howtouse__box-img">
						<img
							src="{{ url_for('static', filename='/img/howtouse-image-small.jpg') }}"
              alt="A man sitting on a couch with a laptop on his lap, showing a sign of the sign alphabet to a webcam with a smile"
							class="howtouse__img"
						/>
          </div>
          <div class="howtouse__box-text">
            <h3 class="howtouse__title">Turn the camera on</h3>
            <p class="howtouse__text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Distinctio officiis animi, autem numquam perspiciatis amet
              temporibus ipsam dolorum iste natus.
            </p>
          </div>
        </div>

        <div class="howtouse__box">
          <div class="howtouse__box-img howtouse__box-img--right">
						<img
							src="{{ url_for('static', filename='/img/polishsignlanguage-image-small.jpg') }}"
							alt="Woman showing sign alphabet sign to phone camera"
							class="howtouse__img"
						/>
          </div>
          <div class="howtouse__box-text howtouse__box-text--right">
            <h3 class="howtouse__title">Show one of the ASL signs</h3>
            <p class="howtouse__text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Distinctio officiis animi, autem numquam perspiciatis amet
              temporibus ipsam dolorum iste natus.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- section: American Sign Language Alphabet with background image-->
    <section class="hero-img section">
      <p class="hero-img__title">American Sign Language (ASL) Alphabet</p>
      <hr />
      <p class="hero-img__text">
        Sign Language Detector translates all signs of ASL alphabet
      </p>
      <hr />
    </section>

    <!-- section with examples of ASL signs in the form of cards -->
		<section
			class="signlanguage section-padding section white-section"
			id="signlanguage"
		>
      <div class="wrapper">
        <h2 class="section-heading">Examples of ASL alphabet signs</h2>

        <div class="signlanguage__cards">
          <!-- first card, letter A -->
          <div class="signlanguage__card" onclick="void(0)">
            <div class="signlanguage__card-img">
              <h3 class="signlanguage__card-img-title">A</h3>
              <p class="signlanguage__card-img-info">
                <i class="fas fa-angle-double-right"></i>Learn more
              </p>
            </div>
            <!-- the back of card A -->

						<div
							class="signlanguage__card-info signlanguage__card-info--first"
						></div>
          </div>

          <!-- second card, letter B -->
          <div class="signlanguage__card" onclick="void(0)">
            <div class="signlanguage__card-img">
              <h3 class="signlanguage__card-img-title">B</h3>
              <p class="signlanguage__card-img-info">
                <i class="fas fa-angle-double-right"></i>Learn more
              </p>
            </div>
            <!-- the back of card B -->
						<div
							class="signlanguage__card-info signlanguage__card-info--second"
						></div>
          </div>
          <!-- third card, letter C -->
          <div class="signlanguage__card" onclick="void(0)">
            <div class="signlanguage__card-img">
              <h3 class="signlanguage__card-img-title">C</h3>
              <p class="signlanguage__card-img-info">
                <i class="fas fa-angle-double-right"></i>Learn more
              </p>
            </div>
            <!-- the back of card C -->
						<div
							class="signlanguage__card-info signlanguage__card-info--third"
						></div>
          </div>
          <!-- fourth card, letter D -->
          <div class="signlanguage__card" onclick="void(0)">
            <div class="signlanguage__card-img">
              <h3 class="signlanguage__card-img-title">D</h3>
              <p class="signlanguage__card-img-info">
                <i class="fas fa-angle-double-right"></i>Learn more
              </p>
            </div>
            <!-- the back of card D -->
						<div
							class="signlanguage__card-info signlanguage__card-info--fourth"
						></div>
          </div>
          <!-- fifth card, letter E -->
          <div class="signlanguage__card" onclick="void(0)">
            <div class="signlanguage__card-img">
              <h3 class="signlanguage__card-img-title">E</h3>
              <p class="signlanguage__card-img-info">
                <i class="fas fa-angle-double-right"></i>Learn more
              </p>
            </div>
            <!-- the back of card E -->
						<div
							class="signlanguage__card-info signlanguage__card-info--fifth"
						></div>
          </div>
          <!-- sixth card, letter F -->
          <div class="signlanguage__card" onclick="void(0)">
            <div class="signlanguage__card-img">
              <h3 class="signlanguage__card-img-title">F</h3>
              <p class="signlanguage__card-img-info">
                <i class="fas fa-angle-double-right"></i>Learn more
              </p>
            </div>
            <!-- the back of card F -->
						<div
							class="signlanguage__card-info signlanguage__card-info--sixth"
						></div>
          </div>
        </div>
      </div>
    </section>
    <!-- section using the camera -->
    <section class="translate section-padding section" id="turnyourcameraon">
      <div class="wrapper">
        <h2 class="section-heading">
          Translation of ASL Alphabet signs
        </h2>
        <div class="video-container">
          <video id="video" width="640" height="480" autoplay style="display: none;"></video>
          <div id="placeholder" class="placeholder">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="64" height="64" fill="currentColor">
              <path d="M12 7a5 5 0 100 10 5 5 0 000-10zm0 8a3 3 0 110-6 3 3 0 010 6zm6-10h-2.586l-2-2H10.586l-2 2H6a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2zm0 12H6V7h12v10z"></path>
            </svg>
          </div>
        </div>
        <button id="toggleCameraBtn" class="btn btn-primary">Turn Camera On</button>
        <p id="prediction"></p>
        <textarea id="history" rows="4" cols="50" readonly></textarea>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
        <script src="/static/js/script.js"></script>
      </div>
    </section>
  </main>
{% endblock %}
