{% extends "base.html" %}
{% block content %}
<div id="generic_price_table">   
    <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="price-heading clearfix">
                            <h1>SLI Pricing Table</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="generic_content clearfix">
                            <div class="generic_head_price clearfix">
                                <div class="generic_head_content clearfix">
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Basic</span>
                                    </div>
                                </div>
                                <div class="generic_price_tag clearfix">	
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">0</span>
                                        <span class="cent"></span>
                                        <span class="month">/MON</span>
                                    </span>
                                </div>
                            </div>                            
                            <div class="generic_feature_list">
                                <ul>
                                    <li><span>25</span> Character Recognition Limit</li>
                                    <li><span>24h</span> Refresh Interval</li>
                                </ul>
                            </div>
                            <div class="generic_price_btn clearfix">
                                <a class="" href="">Sign up</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="generic_content active clearfix">
                            <div class="generic_head_price clearfix">
                                <div class="generic_head_content clearfix">
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Standard</span>
                                    </div>
                                </div>
                                <div class="generic_price_tag clearfix">	
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">19</span>
                                        <span class="cent">.99</span>
                                        <span class="month">/MON</span>
                                    </span>
                                </div>
                            </div>                            
                            <div class="generic_feature_list">
                                <ul>
                                    <li><span>250</span> Character Recognition Limit</li>
                                    <li><span>24h</span> Refresh Interval</li>
                                </ul>
                            </div>
                            <div class="generic_price_btn clearfix">
                                <a class="" href="">Sign up</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="generic_content clearfix">
                            <div class="generic_head_price clearfix">
                                <div class="generic_head_content clearfix">
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Unlimited</span>
                                    </div>
                                </div>
                                <div class="generic_price_tag clearfix">	
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">49</span>
                                        <span class="cent">.99</span>
                                        <span class="month">/MON</span>
                                    </span>
                                </div>
                            </div>                            
                            <div class="generic_feature_list">
                                <ul>
                                    <li><span>No </span> Character Recognition Limit</li>
                                    <li><span>No </span> limit</li>
                                </ul>
                            </div>
                            <div class="generic_price_btn clearfix">
                                <a class="" href="">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>	
                
            </div>
        </section>        

{% endblock %}
