{% extends "base.html" %}
{% block content %}
<section class="header">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card-purchase card text-black">
                    <div class="row g-0">
                        <div class="card-body p-md-5 mx-md-4">
                            <!--User data section-->
                            <h1 class="purchase-title">Purchase Plan</h1>
                            <form id="userData" class="purchase-form1">
                                <p class="purchase-info"><strong class="purchase-info-title">Username:</strong> <span
                                        id="username" class="purchase-info-data"></span></p>
                                <p class="purchase-info"><strong class="purchase-info-title">Email:</strong> <span
                                        id="email" class="purchase-info-data"></span></p>
                                <p class="purchase-info"><strong class="purchase-info-title">Full Name:</strong> <span
                                        id="name" class="purchase-info-data"></span> <span id="surname"
                                        class="purchase-info-data"></span></p>
                                <p class="purchase-info"><strong class="purchase-info-title">Current Plan:</strong>
                                    <span id="plan" class="purchase-info-data"></span></p>
                            </form>
                            <form id="purchaseForm" class="purchase-form2">
                                <div class="label-select-info">
                                    <label for="availableplans" class="select-title">Select Plan:</label>
                                    <select id="availableplans" name="availableplans" class="select-plan">
                                        <!-- Option tags will be dynamically added here -->
                                    </select>
                                </div>
                                    <div class="label-info">
                                        <label for="cardNumber" class="select-info">Card Number:</label>
                                    </div>
                                        <input type="text" id="cardNumber" name="cardNumber" class="purchase-input" required>
                                    
                                    <div class="label-info">
                                        <label for="cardName" class="select-info">Name on Card:</label>
                                    </div>
                                        <input type="text" id="cardName" name="cardName" class="purchase-input" required>
                                    
                                    <div class="label-info">
                                        <label for="expiryDate" class="select-info">Expiry Date (MM/YY):</label>
                                    </div>
                                        <input type="text" id="expiryDate" name="expiryDate" class="purchase-input" required>
                                    
                                    <div class="label-info">
                                        <label for="cvc" class="select-info">CVC:</label>
                                    </div>
                                        <input type="text" id="cvc" name="cvc" class="purchase-input" required>
                            </form>
                            <button type="submit" class="purchase-button btn-special-animation">Submit</button>
                                    <div id="resultPurchase"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="result"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/purchase.js') }}"></script>
{% endblock %}