{% extends "base.html" %}
{% block content %}
<section class="header">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">

                        <div class="card-body p-md-5 mx-md-4">
                            <!--User data section-->
                            <h1>Purchase Plan</h1>
                            <form id="userData">
                                <p><strong>Username:</strong> <span id="username"></span></p>
                                <p><strong>Email:</strong> <span id="email"></span></p>
                                <p><strong>Full Name:</strong> <span id="name"></span> <span id="surname"></span></p>
                                <p><strong>Current Plan:</strong> <span id="plan"></span></p>
                            </form>
                            <form id="purchaseForm">
                                <div>
                                    <label for="newplan">Select Plan:</label>
                                    <select id="newplan" name="newplan">
                                        <option value="premium">Premium</option>
                                        <option value="pro">Pro</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="cardNumber">Card Number:</label>
                                    <input type="text" id="cardNumber" name="cardNumber" required>
                                </div>
                                <div>
                                    <label for="cardName">Name on Card:</label>
                                    <input type="text" id="cardName" name="cardName" required>
                                </div>
                                <div>
                                    <label for="expiryDate">Expiry Date (MM/YY):</label>
                                    <input type="text" id="expiryDate" name="expiryDate" required>
                                </div>
                                <div>
                                    <label for="cvc">CVC:</label>
                                    <input type="text" id="cvc" name="cvc" required>
                                </div>
                                <button type="submit">Submit</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


<div id="result"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/purchase.js') }}"></script>
{% endblock %}