{% extends "base.html" %} {% block content %}

<section class="header">
    <div class="container py-5 h-100">
        <div class="row reset-password-page justify-content-center align-items-center h-100">
            <div class="col-md-6">
                <div class="card text-black">
                    <div class="row g-0">
						<div class="card-body p-md-5 mx-md-4">
							<h2 class="reset-password-page-title">Reset Password</h2>
						</div>
						<p class="login-text">Reset Password</p>
						<form id="resetPasswordForm" method="POST">

							<div data-mdb-input-init class="form-group form-group-input">
								<label for="password">New Password</label>
								<input type="password" class="form-control" id="password" name="password"
									placeholder="Enter your new password" required>
							</div>

							<div data-mdb-input-init class="form-group form-group-input">
								<label for="confirm_password">Confirm New Password</label>
								<input type="password" class="form-control" id="confirm_password"
									name="confirm_password" placeholder="Re-enter your new password" required>
							</div>

							<button type="submit" data-mdb-button-init data-mdb-ripple-init
								class="reset-password-page-button btn reset-btn btn-primary">Reset
								Password</button>

							<div id="error" class="text-danger">
								{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
								{% for category, message in messages %}
								<div class="alert alert-{{ category }}">
									{{ message }}
								</div>
								{% endfor %}
								{% endif %}
								{% endwith %}
							</div> <!-- Add error div -->
							
						</form>
					</div>
				</div>
            </div>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>

{% endblock %}
