{% extends "base.html" %}
{% block content %}
<section class="header">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">

                        <div class="card-body p-md-5 mx-md-4">
                            <!--Registration section-->
                            <p>User Profile</p>
                            <form id="userData">
                                <p><strong>Username:</strong> <span id="username"></span></p>
                                <p><strong>Email:</strong> <span id="email"></span></p>
                                <p><strong>Name:</strong> <span id="name"></span></p>
                                <p><strong>Surname:</strong> <span id="surname"></span></p>
                                <p><strong>Plan:</strong> <span id="plan"></span></p>
                                <button id="deleteAccountButton">Delete your Account</button>
                                <div id="deleteResult"></div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/userprofile.js') }}"></script>
<script src="{{ url_for('static', filename='js/delete_account.js') }}"></script>
{% endblock %}