{% extends "base.html" %}
{% block content %}
<section class="header">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card text-black">
                    <div class="row g-0">
                        <div class="card-body p-md-5 mx-md-4">
                            <!-- User Profile section -->
                            <p class="userprofile-title">User Profile</p>
                            <form id="userData">
                                <p class="user-info"><strong class="user-info-title">Username:</strong> <span id="username" class="user-info-data"></span></p>
                                <p class="user-info"><strong class="user-info-title">Email:</strong> <span id="email" class="user-info-data"></span></p>
                                <p class="user-info"><strong class="user-info-title">Name:</strong> <span id="name" class="user-info-data"></span></p>
                                <p class="user-info"><strong class="user-info-title">Surname:</strong> <span id="surname" class="user-info-data"></span></p>
                                <p class="user-info"><strong class="user-info-title">Plan:</strong> <span id="plan" class="user-info-data"></span></p>
                                <div id="paymentHistory"></div>
                                <p id="deleteResult"></p>
                                <button id="deleteAccountButton" class="delate-account-btn" class="btn btn-danger">Delete Account</button>
                            </form>
                            <!-- Add reset password button -->
                            <button id="resetPasswordButton" class="btn btn-primary mt-3">Reset Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/userprofile.js') }}"></script>
<script src="{{ url_for('static', filename='js/delete_account.js') }}"></script>
{% endblock %}