{% extends "base.html" %}
{% block content %}
<section class="header">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="card-body p-md-5 mx-md-4">
                            <!-- User Profile section -->
                            <p>User Profile</p>
                            <form id="userData">
                                <p><strong>Username:</strong> <span id="username"></span></p>
                                <p><strong>Email:</strong> <span id="email"></span></p>
                                <p><strong>Name:</strong> <span id="name"></span></p>
                                <p><strong>Surname:</strong> <span id="surname"></span></p>
                                <p><strong>Plan:</strong> <span id="plan"></span></p>
                                <div id="paymentHistory"></div>
                                <p id="deleteResult"></p>
                                <button id="deleteAccountButton" class="btn btn-danger">Delete Account</button>
                            </form>
                            <!-- Add reset password button -->
                            <button id="resetPasswordButton" class="btn btn-primary mt-3">Reset Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/userprofile.js') }}"></script>
<script src="{{ url_for('static', filename='js/delete_account.js') }}"></script>
<script>
    $(document).ready(function () {
        $('#deleteAccountButton').click(function () {
            $.ajax({
                type: 'POST',
                url: '/delete_account',
                contentType: 'application/json',
                success: function (response) {
                    $('#deleteResult').text(response.message);
                    if (response.redirect) {
                        setTimeout(function () {
                            window.location.href = response.redirect; // Redirect to home page
                        }, 100); // Adjust the delay if needed
                    }
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : "An error occurred";
                    $('#deleteResult').text(errorMessage);
                }
            });
        });

        // Add click event handler for reset password button
        $("#resetPasswordButton").click(function () {
            var newPassword = prompt("Enter your new password:");
            if (newPassword) {
                $.ajax({
                    type: "POST",
                    url: "/change_password",
                    contentType: "application/json",
                    data: JSON.stringify({ new_password: newPassword }), // Send new password as JSON
                    success: function (response) {
                        alert(response.message);
                    },
                    error: function (xhr) {
                        var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : "An error occurred";
                        alert(errorMessage);
                        console.error("Error response:", xhr.responseText);  // Debugging statement
                    }
                });
            }
        });

    });
</script>
{% endblock %}