html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

// The font size has been set to 62.5% to make it easier to convert pixels to rems.

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}


